// Specific CSS for your home-page
.form-actions {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
  background: #c9de96; /* Old browsers */
  background: -moz-linear-gradient(top,  #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
  border-radius: 10px;
  margin-bottom: 15px;
}

.form-actions:hover {
  background: #bfd255;
  border-radius: 10px;
}

.form-layout {
  padding: 30px;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://res.cloudinary.com/dxxmzjamn/image/upload/v1573554123/horses/homepage_kxfecc.jpg");

  /* Full height */
  height: 100%;
  background-position: center;
  background-size: cover;

  h1, p {
  color: white;
  font-weight: bold;
  }
}

h1, p {
  color: #fdffc;
}

.devise-form-container {
  background-color: rgba(0,0,0,.4);
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  border-radius: 10px;
  width: 500px;
  // justify-content: center;
}
