.new-horse {
  background-image: url("https://res.cloudinary.com/a1986/image/upload/c_scale,w_4628/v1573827685/nine-kopfer-BDaIvyBEV3s-unsplash_futgyz.jpg");
  background-position: center;
  background-size: cover;
}

.add-horse {
  margin: 15px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background-color: rgba(0,0,0,.2);
  border-radius: 10px;
}

.form-box {

  opacity: 0.9;
}

.btn-create-horse {
  border-radius: 5px;
  margin-bottom: 10px;
}
