<h3>Horses</h3>
<div class="container">
  <div class="row">
<%= link_to "Add a horse", new_admin_horse_path, class: "btn btn-primary btn-lg" %>
<%= link_to "My horses", admin_horses_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<% @horses.each do |horse| %>
  <p><%= link_to horse.name, horse_path(horse) %></p>
  <% end %>



