<h1>Horses</h1>
<div class="container">
  <div class="row">
<%= link_to "Add a horse", url: new_admin_horse_path, class: "btn btn-primary btn-lg" %>
<%= link_to "My horses", url: admin_horses_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<% @horses.each do |horse| %>
  <h2><%= link_to horse.name, horse_path(horse) %></h2>
  <% end %>



