
<body class="bg">

  <div class="container">
    <h1 style="margin-top: 30px">Welcome</h1>

    <p>Riding a horse has never been this easy</p>
    <p>Please login to your account to start browsing</p>
    <br>
    <br>


  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</body>

