<h1>Reservations</h1>

<% @horse.reservation.each do |reservation| %>
<ul list-style-type: none;>
<% @reservations.each add pipes with reservation %>
  <li><%=reservation.@horse.name %></li>
  <li><%=reservation.date_available %></li>
  <li><%=reservation.timeslot %></li>
  raise
  <li><%=reservation.status %></li>
  <% end %>
</ul>


