
.card-horse-main {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  background-color: white;
  // border-radius: 3px;
}

.card-horse-main:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-horse-image {
  // padding: 0 4px;
  margin-top: 8px;
  max-width: 400px;
  border-radius: 3px;
  vertical-align: middle;
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
  object-position: bottom;
}

.card-horse-footer {
  margin-top: 8px;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card-horse-footer p{
  margin: 0;
}


@media screen and (max-width: 800px) {
  .card-horse-main {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .card-horse-main {
    flex: 100%;
    max-width: 100%;
  }
}

// @media (min-width: 576px) {
//   .card {
//   display:grid;
//   grid-template-columns: 1fr;
//   grid-gap: 16px;
//   justify-content: space-around;
//   flex-grow: 1;
//   }
// }

// @media(max-width: 768px) {
//   .card {
//   display:grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
//   justify-content: space-around;
//   flex-grow: 1;
//   }
// }

// @media(max-width: 992px) {
//   .card {
//   display:grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
//   justify-content: space-around;
//   flex-grow: 1;
//   }
// }

// @media(max-width: 1200px) {
//   .card {
//   display:grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
//   justify-content: space-around;
//   flex-grow: 1;
//   }
// }




