  ul.list-inline {
  padding-left: 0;
  list-style: none;
   position: absolute;
    bottom: 1%;
    left: 50%;
  }

  li {
    display: inline-block;
    padding: 5px;
  }

  i {
  color: white;
  width: 30px;
  height: 30px;
  }

  a:hover {
  color: black;
  }
